<footer>
    <div class="f-info mb-1">
        <div>&copy; <%= new Date().getFullYear() %> ExploreInn</div>
        <div class="f-socials">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="f-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Company details</a>
    </div>
</footer>
