<% layout("/layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <br />
      <h2>Create New Listing</h2>
      <br />
      <form
        method="POST"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            class="form-control"
            placeholder="Add a catchy title"
            type="text"
            required
          />
          <div class="invalid-feedback">
            Please enter the title
          </div>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" 
          class="form-control" 
          required
          ></textarea>
          <div class="invalid-feedback">
            Please enter a valid description
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-8">
            <label for="image-url" class="form-label">Upload Image</label>
            <input
              name="listing[image.url]"
              class="form-control"
              type="file"
            />
          </div>

          <div class="col-md-4">
            <label for="image-filename" class="form-label">Filename</label>
            <input
              name="listing[image.filename]"
              class="form-control"
              placeholder="optional"
              type="text"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            class="form-control"
            placeholder="Jaipur"
            type="text"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid place
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              class="form-control"
              placeholder="1500"
              
              required
            />
            <div class="invalid-feedback">
            Please enter the price
          </div>
          </div>

          <div class="col-md-7">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              class="form-control"
              placeholder="India"
              type="text"
              required
            />
            <div class="invalid-feedback">
            Please enter a valid country
          </div>
          </div>
        </div><br />

        <button class="btn btn-dark">Add</button>
      </form>
      <br /><br />
    </div>
  </div>
</body>
